local.file "agent_credential" {
  filename  = "__CREDENTIAL_FILE__"
  is_secret = true
}

prometheus.exporter.unix "host" {
}

prometheus.scrape "host" {
  targets         = prometheus.exporter.unix.host.targets
  forward_to      = [prometheus.remote_write.ingestion.receiver]
  scrape_interval = "15s"
}

prometheus.remote_write "ingestion" {
  endpoint {
    url = "__GATEWAY_URL__"
    authorization {
      type        = "Bearer"
      credentials = local.file.agent_credential.content
    }
  }
}
